.flex-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.apartment-plan {
    width: 20%;
}

.floor-plan {
    width: 60%;
}

.floor-plan img {
    width: 100%;
    height: 100%;
}

.floor-app {
    width: 20%;
}

.floor-app img {
    width: 100%;
    height: 100%;
}

#change-floor {
    width: 100%;
} 

#change-app-plan {
    width: 100%;
}